body {
    margin: 0;
    font-family: 'Poppins';
    background: rgb(6, 9, 14);
}

/* Navbar */    

nav {
    width: 100%;
    height: 70px;
    /* background: rgba(13, 11, 11, 0.2); */
    background: rgba(6, 9, 14, 0.8);
    /* background: #12161e; */
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

nav img {
    margin-left: 20px;
    width: 5rem;
    height: 5rem;
    padding-left: 10px;
    object-fit: contain;
}

ul {
    margin-right: 50px;
    list-style-type: none;
}
ul li {
    float: left;
    margin-left: 50px;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover {
    color: #8b6cc9;
}
ul li a:active {
    opacity: 0.5;
}

.sidebar-menu {
    width: 300px;
    height: 100%;
    display: none;
    /* background: rgba(6, 9, 14, 0.8);
    backdrop-filter: blur(20px); */
    background-color: rgb(48, 38, 69);
    position: fixed;
    top: 68px;
    right: 0;
    z-index: 4;
}
.sidebar-menu p {
    color: white;
}
.sidebar-menu p:hover {
    background-color: #654E92;
}
/* Banner */

.title span {
    color: #8b6cc9;
    margin-right: 5px;
}

.banner {
    width: 100%;
    height: 800px;
    background-color: rgb(6, 9, 14);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner-title {
    display: flex;
    flex-direction: column;
}

.banner-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6rem;
}

.banner-title-subcontainer {
    display: flex;
    flex-direction: row;
}

.banner-title-container h1 {
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin-right: 20px;
}

.banner-img {
    margin-left: 8rem;
    width: 500px;
    height: 400px;
    position: relative;
}

.banner-img img {
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 20px;
}

#img-1 {
    z-index: 2;
    top: 50px;
    left: 100px;
    box-shadow: 20px 0px 20px #06090E, -20px 0 20px #06090E;
}
#img-2 {
    width: 250px;
    height: 250px;
    top: 80px;
    left: 0;
    filter: grayscale(100%);
}
#img-3 {
    width: 250px;
    height: 250px;
    top: 80px;
    right: 0;
    filter: grayscale(100%);
}

/* Banner Button */

.banner-btn {
    width: 150px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    color: #654E92;
    background-color: transparent;
    border: 2px solid #654E92;
    box-shadow: 0px 1px 5px #654E92;
    cursor: pointer;
}
.banner-btn:hover {
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #654E92;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}
.banner-btn:active {
    opacity: 0.6;
}

/* About Me */
.about-me {
    width: 100%;
    height: 600px;
    background-color: #06090e;
}
.about-me-title {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me-title h1 {
    font-size: 36px;
    font-family: 'Inter';
    color: white;
    margin-bottom: 5px;
}
.about-me-lines {
    width: 80px;
    height: 2px;
    background-color: white;
}
.about-me-body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.about-me-body img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 20px;
}
.about-me-text {
    width: 400px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.about-me-text p {
    font-size: 20px;
    color: white;
    text-align: justify;
}

/* Responsive */

@media only screen and (max-width: 1250px) {

    
    /* Banner */
    .banner {
        flex-direction: column;
        justify-content: center;
    }
    .banner-btn {
        display: none;
    }
    .banner-title-container {
        margin-right: 0;
        margin-top: 100px;
    }

    .banner-title-container h1 {
        margin: 0;
        font-size: 3rem;
    }
    .banner-lines-title {
        width: 100px;
        height: 2px;
        background-color: white;
    }
    .banner-img {
        margin-top: 20px;
        margin-left: 0;
    }

    /* About Me */
    .about-me-body {
        flex-direction: column;
        align-items: center;
    }
    .about-me-body img {
        margin-left: 0;
    }
    .about-me-text {
        margin-left: 0;
        margin-top: 20px;
    }
    .about-me-text p {
        text-align: center;
    }

}

@media only screen and (max-width: 570px) {

    nav ul {
        display: none;
    }
    #hamburger-menu-container {
        width: 60px;
        height: 70px; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent; 
    }
    .hamburger-menu {
        width: 30px;
        display: block !important;
        /* margin-right: 20px; */
    }
    .line-1, .line-2, .line-3 {
        display: block !important;
        height: 3px;
        background-color: white;
    }
    .line-2, .line-3 {
        margin-top: 8px;
    }

    .banner {
        height: 500px;
    }
    .banner-title-container {
        margin-top: 100;
    }
    .banner-title-container h1 {
        font-size: 2rem;
    }

    /* Sidebar */
    .sidebar-menu {
        /* display: block !important; */ 
        box-shadow: -3px 2px 5px rgb(33, 33, 33);
    }
    .sidebar-menu div {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .sidebar-menu div:hover {
        background-color: rgb(101, 78, 146);
    }
    .sidebar-menu a {
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-size: 18px;
    }

    .banner-img {
        width: 300px;
        height: 200px;
        margin-bottom: 120px;
    }

    #img-1 {
        width: 150px;
        height: 150px;
        left: 80px;
    }
    #img-2, #img-3 {
        width: 100px;
        height: 100px;
    }

    .about-me-title {
        height: 80px;
    }
    .about-me-title h1 {
        font-size: 25px;
    }
    .about-me-body {
        margin-top: 50px;
    }
    .about-me-body img {
        width: 150px;
        height: 150px;
    }
    .about-me-text {
        width: 250px;
    }
    .about-me-text p {
        font-size: 16px;        
    }
}